[Desktop Entry]
Name=SSSVRecompiled
Type=Application
Terminal=false
Icon=SSSVRecompiled
Exec=SSSVRecompiled
GenericName=SSSVRecompiled
Categories=Game;
