name: validate-internal

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    if: github.event_name == 'push' || github.repository == github.event.pull_request.head.repo.full_name
    uses: ./.github/workflows/validate.yml
    secrets:
      PRIVATE_CONTENT_TOKEN: ${{ secrets.PRIVATE_CONTENT_TOKEN }}
